.header {
    display: flex;
    flex-direction: column;
    margin: $spacing-m;
}

.header__title,
.header__text {
    display: flex;
    justify-content: center;
}

.header__text {
    font-weight: 200;
    margin-bottom:$spacing-m; 
}
