.form {
    display: flex;
    justify-content: center;
    margin-bottom: $spacing-l;
    margin-left: $spacing-m;
    margin-right: $spacing-m;
}

.form__label {
    font-size: $body-small;
    padding-right: $spacing-s;
}

.form__input {
    font-size: $body-small;
    padding: $spacing-s;
}

.form__input-submit {
    background-color: $button-secondary-colour;
}

.form__input-submit:hover {
    background-color: $button-primary-colour;
}

.form__input,
.form__input-submit {
    cursor: pointer;
}
